<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JeuxOlympiques.Properties.Settings.ConnectionString"
            connectionString="Data Source=etudiants.cegepsth.qc.ca;Initial Catalog=4DB-JeuxOlympique;User ID=Etudiant;Password=Qwerty123!;Encrypt=False" />
    </connectionStrings>
</configuration>